form {
    display: grid;
    padding-top: 40px;
    align-items: center;
    justify-content: flex-end;
}

main {
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

form label {
    font-size: 150%;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0.8em 0.2em;
}

form input {
    margin: 0 15% 10px;
    display: flex;
    justify-self: center;
    font-weight: bold;
    text-align: center;
    border-radius: 2em;
    padding: 0.8em 0em;
    width: 20em;
}

.botao_enviar {
    display: flex;
    border: 3px solid white;
    width: 80%;
    text-transform: capitalize;
    color: white;
    margin-top: 2em;
    border-radius: 2em;
    align-self: center;
    text-align: center !important;
    font-weight: bold;
    background-color: transparent;
    justify-self: center;
    padding: 0.6em 1em;
    justify-content: center;
}
