

.cabecalho_login {
    text-align: center;
    background-color: #02672e;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
form {
    margin: 10% 20%;
    display: grid;
    justify-content: center;
    background-color: #01310a;
    padding: 1.4em 0em;
    border-radius: 5%;
}

#senha, #email {
    border-radius: 2em;
    text-align: center;
    font-weight: bold;
    justify-self: center;
    width: 12em;
    padding: 0.4em 1em;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

img {
    width: 60%;
    border-radius: 1em;
    margin-bottom: 3em;
}


form label {
    text-align: center;
    text-transform: capitalize;
    font-size: 150%;
    margin: 0 15% 0;
    font-weight: bold;
}

form input {
    margin: 0 15% 5%;
    padding: 0 10%;
}

.botao_cadastrar {
    border: 3px solid white;
    width: 12em;
    text-transform: capitalize;
    color: white;
    border-radius: 2em;
    font-weight: bold;
    background-color: transparent;
    justify-self: center;
    padding: 0.4em 1em;
}

.botao_cadastrar:hover {
    background-color: white;
    color: #01310a;
}

.botao_esqueci_a_senha {
    width: 65%;
}

.botao_logar {
    margin-top: 1em;
    justify-self: center;
    text-align: center;
    width: 12em;
    font-weight: bold;
    border-radius: 2em;
    padding: 0.4em 1em;
    color: white;
    text-transform: capitalize;
    background-color: transparent;
    border: solid 3px white;
}

.botao_logar:hover {
    background-color: white;
    color: #01310a;
}

.rodape  {
    padding: 3%;
    bottom: 0;
    width: 98%;
    height: 15%;
    text-align: center;
    align-items: baseline;
    background-color: #002e08;
}