<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>low budget google maps</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>mapa</h1>
    </div>
    <form th:action="@{/api/map/address}" th:object="${mapDAO}" method="post">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">partida: </label>
                <div class="col-8">

                    <input type="text" placeholder="initialAddress" th:field="*{initialAddress}" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">destino: </label>
                <div class="col-8">

                    <input type="text" placeholder="finalAddress" th:field="*{finalAddress}" class="form-control"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>