<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>"home CaronABC</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        
    </head>

    <body>
        <header class="cabecalho">
            <button class="cabecalho__menu">Menu</button>
            <h1 class="cabecalho__titulo" id="titulo_pagina">CaronABC</h1>
            <h1> </h1>

        </header>


        <nav class="menu_lateral">
            <ul>
                <li><a href="buscarCarona.html" class="menu_link">Pedir caroa</a></li>
                <li><a href="darCarona.html" class="menu_link">Dar carona</a></li>
                <li><a href="login.html" class="menu_link">Log out</a></li>
            </ul>
        </nav>

        <script src="../static/js/index.js"></script>
        
       <main>
            <ul class="quadro">

            <li>
                
                <a href="buscarCarona.html">
                    <button >
                    <p><h3>Pedir carona</h3></p>
                    <img class="imagem_botao" src="../static/images/pedir%20carona1.png">
                </button>
            </a> 
            </li>

            <li>
                
                <a href="darCarona.html">

                    <button>
                        <p><h3>dar carona</h3></p>
                        <img src="../static/images/logo%20dar%20carona.png" class="imagem_botao">
                    </button>
                </a>
            </li>

        </ul>
        </main>

        <footer class="roda_pe">
            <p class="titulo_rodape">CaronABC</p>
            <p>Projeto engenharia de software: CaronABC - 2022 </p>
        </footer>
        
    </body>
</html>