html, body {
    min-height: 100%;
}

body {
    background-color: #003b0b;
    font-family: 'Arial', 'icones', 'sans-serif';
    color: #FFFFFF;
    margin: 1px;
    font-size: 11px;
    
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02672e;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.menu_lateral {
    display: flex;
    flex-direction: column;
    background-color: #02672e;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
    

}

.menu_link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.menu_link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}


button {
    background-color: #02672e;
    border-radius: 10%;
    font-family: 'Arial', 'sans-serif';
    color: #FFFFFF;
    padding: 1px 1px;
    text-transform: capitalize;
    border-width: 10px;
    border-style: none;
    font-weight: bold;
    font-size: 14px;
}

#titulo_pagina {
    color: #fdd100;
    font-weight: bold;
    font-size: 32px;
}

.imagem_botao {
    border-radius: 20%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
.quadro li {
    background-color: #02672e;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 4.5%;
    padding: 0 3%;
}

.quadro {
    flex-wrap: wrap;
    margin: 0 0;
    padding: 60px 11.5%;
    
}

.roda_pe  {
    padding: 1px;
    margin-top: 230px;
    bottom: 0;
    width: 99%;
    height: 70px;
    text-align: center;
    align-items: baseline;
    background-color: #002e08;
}




/*
#quadro div {
    background-color: #02672e;
    border-radius: 10%;
    display: grid;
    align-content: center;
    height: 200px;
    margin:10px;
    padding: 0;
    margin-right:1.4em ;
    justify-content: center;
    
}

#quadro div img{
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 10px;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}


#quadro {
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#quadro div a {
    margin-bottom: 0.2em !important;
    padding: 0.2em;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-bottom: 0px;
    font-size: 16px;
}
*/
/*
#menu_lateral {
    background-color: #008000;
    width: 20%;
    margin: 0; padding: 0;
    float: left;
    }


    #menu_lateral li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #008000;
		text-align: left;
		list-style-type: none;
        text-decoration: none;
		}

        #menu_lateral a {
            text-transform: uppercase;
            color: yellow;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;
        }

*/