<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="../static/css/Carona_home.css" th:href="@{/css/Carona_home.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/index.js}" href="../static/js/index.js"></script>
    <script type="text/javascript" th:src="@{/js/menu_lateral.js}" href="../static/js/menu_lateral.js"></script>

    <title>CaronABC Home</title>

</head>

<body class="container">

<header class="cabecalho">
    <!--<button class="cabecalho__menu">Menu</button>-->
    <h1 class="cabecalho__titulo" id="titulo_pagina">CaronABC</h1>
    <h1> </h1>

</header>

<nav class="menu_lateral">
    <ul>
        <li><input class="btn_btn-primary" type="submit" value="home">

    </ul>
</nav>

<div class="container_1">
<form class="col card p-3 mb-5" method="post" th:action="@{/registro}" th:object="${userDAO}">

    <div class="logo">
        <img src="https://i.ibb.co/yqQKr30/logo-app.png">
    </div>

    <label for="fullName">Nome completo</label>
    <input class="form-control" id="fullName" placeholder="Nome completo" required
           th:field="*{fullName}"
           type="text"/>

   <label for="rideModality">Objetivo</label>
    <select class="opcao_ride" th:field="*{rideModality}" id="rideModality" required>
        <option class="opcao_ride" value="">Selecione uma opção</option>
        <option class="opcao_ride" value="Pegar carona">Pegar Carona</option>
        <option class="opcao_ride" value="Dar carona">Dar Carona</option>
    </select>

    <label for="initialAddress">Local de partida</label>
    <input class="form-control" id="initialAddress" placeholder="Endereço inicial" required
           th:field="*{initialAddress}"
           type="text"/>

    <label for="finalAddress">Destino</label>
    <input class="form-control" id="finalAddress" placeholder="Endereço destino" required
           th:field="*{finalAddress}"
           type="text"/>

    <label for="departure">Hora de partida</label>
     <input class="form-control" id="departure" placeholder="Insira o horario de partida"
            required
            th:field="*{departure}"
            type="time"
             title="Insira um horario para partida"/>

     <label for="email">Email</label>
     <input class="form-control" id="email" placeholder="@aluno.ufabc.edu.br | @ufabc.edu.br" required
            th:field="*{email}"
            type="email"
            pattern="^[^ \t\n\f\r]+@(aluno\.)?ufabc\.edu\.br$"
     title="Insira um e-mail institucional da UFABC"/>

     <label for="phoneNumber">Número de telefone</label>
     <input class="form-control" id="phoneNumber" placeholder="(DDD)XXXXX-XXXX"
            required
            th:field="*{phoneNumber}"
            type="text"
             pattern="\d{11}" title="Insira o numero de telefone e DDD sem '-' ou espaços vazio"/>




     <input class="btn_btn-primary" type="submit" value="Submeter">
 </form>
 </div>

 <table class="table_table-striped_table-bordered">
     <thead>
     <th th:each="user : ${userDAO}">
         <tr><td>Nome completo</td> <th th:text="${userDAO.fullName}" ></th> </tr>
         <tr><td>Objetivo</td> <th th:text="${userDAO.rideModality}" ></th> </tr>-->
         <tr><td>Local de partida</td> <th th:text="${userDAO.initialAddress}"></th></tr>
         <tr><td>Destino</td> <th th:text="${userDAO.finalAddress}"></th></tr>
         <tr><td>Hora de partida</td> <th th:text="${userDAO.depature}"></th></tr>
         <tr><td>Email</td> <th th:text="${userDAO.email}"></th></tr>
         <tr><td>Número de telefone</td>  <th th:text="${userDAO.phoneNumber}"></th></tr>
         <tr><td>Trajeto</td>  <th><a href="/api/map/adress"> <input id="botao_rota" type="button", onclick="rota()" value="Rota"></th></tr></a>
     </th>

     <!-- TODO: pegar os endereços por id, populando o id com o e-mail de cada usuario-->

    </thead>

<!--
    <tr th:each="user : ${userDAO}">
        <td th:text="${userDAO.fullName}"></td>
        <td th:text="${userDAO.initialAddress}"></td>
        <td th:text="${userDAO.finalAddress}"></td>
        <td th:text="${userDAO.email}"></td>
        <td th:text="${userDAO.phoneNumber}"></td>
    </tr>
    -->

</table>
</body>


</html>