<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Thymeleaf Form handling Demo</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Informações</h1>
<form class="col card p-3 mb-5" method="post" th:action="@{/index/}" th:object="${userDAO}">
    <div class="form-group">
        <label for="fullName">Nome completo</label>
        <input class="form-control" id="fullName" placeholder="Nome completo" required
               th:field="*{fullName}"
               type="text"/>
    </div>

    <div class="form-group">
        <label for="initialAddress">Partida</label>
        <input class="form-control" id="initialAddress" placeholder="Partida" required
               th:field="*{initialAddress}"
               type="text"/>
    </div>

    <div class="form-group">
        <label for="finalAddress">Destino</label>
        <input class="form-control" id="finalAddress" placeholder="Destino" required
               th:field="*{finalAddress}"
               type="text"/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" placeholder="@aluno.ufabc.edu.br | @ufabc.edu.br" required
               th:field="*{email}"
               type="text"/>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Número de telefone</label>
        <input class="form-control" id="phoneNumber" placeholder="(DDD)XXXXX-XXXX" required
               th:field="*{phoneNumber}"
               type="text"/>
    </div>

    <input class="btn btn-primary" type="submit" value="Submeter">
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>Nome completo</th>
        <th>Partida</th>
        <th>Destino</th>
        <th>Email</th>
        <th>Número de telefone</th>
    </tr>
    <tr th:if="${#lists.isEmpty(index)}">
        <td colspan="5">Sem dados por hora</td>
    </tr>
    <tr th:each="user : ${userDTO}">
        <td th:text="${userDTO.fullName}"></td>
        <td th:text="${userDTO.initialAddress}"></td>
        <td th:text="${userDTO.finalAddress}"></td>
        <td th:text="${userDTO.email}"></td>
        <td th:text="${userDTO.phoneNumber}"></td>
    </tr>
</table>
</body>
</html>