<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>"Login CaronABC</title>
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="style-login.css">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700display=swap"> 
    </head>

    <body>

        <header class="cabecalho_login">
            <h1 class="cabecalho__titulo" id="titulo_pagina">CaronABC</h1>

        </header>

        <main>

            

            <form class="login" action="">

                <div class="logo">
                    <img src="carro.png">
                </div>

                <label for="email"> email</label><br/>
                <input type= "email" id= "email" name="email" placeholder= "Digite o seu e-mail"/><br/>
           
             
                <label for="senha"> senha</label><br/>
                <input type= "password" id= "senha" name="senha" placeholder= "Insira a sua senha"/><br/>
            

                <input class="botao_logar" type="submit" value="login" onclick="alert('vc clicou no botao login')">

                <input class="botao_esqueci_a_senha" type="submit" 
                value="esqueceu a senha" onclick="alert('vc clicou no botao esqueci a senha')"> <br/>


                <input class="botao_cadastrar" type="submit" value="cadastrar" onclick="alert('vc clicou no botao de cadastro')">

            </form>

        </main>

        <footer class="rodape">
            <p class="titulo_rodape">CaronABC</p>
            <p>Projeto engenharia de software: CaronABC - 2022 </p>
        </footer>

</html>